.link-to-page-container {
    height: 15vh;
    padding-right: 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 1s;
}


.btn {
    font-size: 3vh;
    color: white;
    position: relative;
    padding: 10px 15px;
    font-weight: 600;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    display: block;
    background-color: transparent;
    border: 1px solid white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn:hover::after {
    transform: translate(3px, 3px);
}

.btn:hover::before {
    transform: translate(-3px, -3px);
}


@media screen and (max-width:600px) {

    .link-to-page-container {
        height: 15vh;
    }



    .btn::before {
        transition: none;
        animation-name: before-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .btn::after {
        transition: none;
        animation-name: after-animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes before-animation {
        from {
            transform: translateX(0px) translateY(0px);
        }

        to {
            transform: translateX(3px) translateY(3px);
        }
    }

    @keyframes after-animation {
        from {
            transform: translateX(0px) translateY(0px);
        }

        to {
            transform: translateX(-3px) translateY(-3px);
        }
    }




}