.popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(80%, 500px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: max(65%, 500px);
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-size: clamp(1.2rem, 1.2rem + 1vw, 2.2rem);
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    z-index: 1000;
}

.nav-icons-wrapper {
    min-width: min(70%, 400px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}