.portfolio-page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: safe;
    align-items: normal;
}

.projects-showcase {
    flex-grow: 1;
    align-self: center;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1vh;
    align-items: center;
}

.dot {
    height: 1vw;
    width: 1vw;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.5s;
}

.active {
    height: 1vw;
    width: 1vw;
    margin: 0 10px;
    display: inline-block;
    background-color: white;
    transition: all 0.5s;
}

.title {
    color: white;
    font-size: 5vh;
    margin: 3vh 2vw;
}

.img-container img {
    height: 70vh;
    width: 60vw;
    animation: animated-img 0.5s ease-in forwards;
}

@keyframes animated-img {
    from {
        opacity: 0.1;
        scale: 0.7;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media screen and (max-width:600px) {
    .title {
        margin: 3vh 10vw;
    }

    .dot {
        height: 1.5vh;
        width: 1.5vh;
    }

    .img-container img {
        height: 70vh;
        width: 70vw;
    }

    .active {
        height: 1.5vh;
        width: 1.5vh;
    }

}