.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1500ms;
}

.hide {
    opacity: 0;
}


.show {
    opacity: 1;
}


.home-end-wrapper {
    display: flex;
    justify-content: center;
    gap: max(1vw, 1vh);
    padding: max(7vw, 7vh);
    flex-direction: column;
}

.para-text {
    font-size: clamp(0.8rem, 0.8rem + 1vw, 2rem);
}

.home-text {
    text-align: center;
    font-size: max(5vw, 5vh);
}

.client-wrapper {
    display: flex;
    justify-content: center;
    gap: min(1vw, 1vh);
    padding: max(7vw, 7vh);
    flex-direction: column;
}