.section {
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-start,
.client {
    transition: 400ms ease-out;
}

.inactive {
    opacity: 0;
}


.home-end {
    opacity: 0;
    position: absolute;
    top: 60vh;
    transition: 500ms ease;
}

.home-end-show {
    opacity: 1;
}

.home-end-wrapper {
    display: flex;
    justify-content: center;
    gap: max(1vw, 1vh);
    padding: max(7vw, 7vh);
    flex-direction: column;
}

.para-text {
    font-size: clamp(0.8rem, 0.8rem + 1vw, 2rem);
}

.home-text {
    text-align: center;
    font-size: max(5vw, 5vh);
}

.client-wrapper {
    display: flex;
    justify-content: center;
    gap: min(1vw, 1vh);
    padding: max(7vw, 7vh);
    flex-direction: column;
}