.section {
    height: 100vh;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    font-size: 5vw;
}

@media screen and (width<700px) {
    .home-text {
        font-size: 5vh;
    }
}