.res-container {
    display: flex;
    padding: 0 max(6vw, 3vh);
    flex-direction: column;
}

.res-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.res-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: max(1vw, 10px);
    justify-content: center;
}




.res-btn-container {
    align-self: flex-end;
}


.res-photo {
    flex: 2;
    height: 70vh;
    width: 100%;
    position: relative;
}

.web-photo {
    position: absolute;
    z-index: 1;
    width: 90%;
    height: auto;
    top: 0;
    right: 0%;
}

.phone-photo {
    position: absolute;
    z-index: 2;
    width: auto;
    height: 70%;
    bottom: 0;
    left: 0;
}

.sec-font {
    font-family: "Calibri, sans-serif";
    color: grey;
    font-size: 16pt;
}

.inside {
    display: none;
}

.res-link {
    font-size: 36pt;
    text-decoration: none;
    color: black;
}

@media screen and (min-width:800px) and (max-width:1025px) {
    .web-photo {
        width: 60%;
        height: auto;
        max-height: 90%;
    }

    .phone-photo {
        left: unset;
        right: 55%;
    }

}

@media screen and (max-width: 1025px) {
    .res-container {
        height: 75vh;
    }

    .sec-font {
        font-size: 12pt;
    }

    .res-text {
        flex: none;
    }

    .res-photo {
        flex: none;
        height: 50%;
    }

    .outside {
        display: none;
    }

    .inside {
        display: inline-block;
    }

    .res-section {
        flex-direction: column;
        justify-content: space-around;
        gap: 2vh;
    }
}



@media screen and (min-height: 1300px) {
    .res-section {
        gap: 1vh;
        justify-content: space-evenly;
    }

    .web-photo {
        width: 70%;
        height: auto;
        max-height: 90%;
    }

    .phone-photo {
        left: 25%;
    }
}