.jump-to-btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}


#arrow1 {
    opacity: 0;
    animation-name: arrow;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

#arrow2 {
    opacity: 0;
    animation-name: arrow;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}


#circle {
    opacity: 0;
    animation-name: arrow;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}


@keyframes arrow {
    from {
        opacity: 0.0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1.0;
        transform: translateX(0px);
    }
}