.jump-to-btn {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.arrow1 {
    opacity: 0;
    animation-name: animation, arrow;
    animation-duration: 2s, 2s;
    animation-delay: 0.3s, 2.3s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, infinite;
}

.arrow2 {
    opacity: 0;
    animation-name: animation, arrow;
    animation-duration: 2s, 2s;
    animation-delay: 0.9s, 2.9s;
    animation-fill-mode: forwards, forwards;
    animation-iteration-count: 1, infinite;
}


.circle {
    opacity: 0;
    animation-name: animation;
    animation-duration: 2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}


@keyframes arrow {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes animation {
    from {
        opacity: 0.0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1.0;
        transform: translateY(0px);
    }
}


@media screen and (max-width:600px) {
    .btn-svg {
        padding-top: 20px;
    }
}