@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body{
    margin: 0;
    background-color: black;
    font-family: 'Kanit', sans-serif;

}
span{
    user-select: none;
    display: inline-block;
}