@font-face {
    font-family: "Audrey-Normal";
    src: url("./assets/fonts/Audrey/Audrey-Normal.otf")format("opentype");
}

body {
    margin: 0;
    padding: 0;
    display: block;
    background-color: white;
    font-family: 'Audrey-Normal', sans-serif;

}

span {
    user-select: none;
    display: inline-block;
    color: black;

}